.zoom {
  padding: 50px;
  transition: transform .2s;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.zoom:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1); 
}
.zoom a {
	text-decoration:none;
	font-size:22px;
	font-weight: bold;
	color: black;
}
.zoom a p {
	text-align: center;
	padding-top: 7%;
	padding-left: 25%;
}
.zoom a:hover{
	text-decoration:none;
	font-size:22px;
	color:black;
}
.zoom a img { 
box-shadow: 10px 10px 5px grey;
width:100%;
height:300px;
}
* {
    font-family: 'Merriweather', serif;
	box-sizing: border-box;
	}
.breakBetweenSec{
	margin-top: 7%;
	}
.navigation{

	overflow: hidden;
	background-color:rgba(0, 29, 74, 1) ;
	width: 100%;
	height:81px;
	background-position:top;
	margin-top:0px;
	}
.navigation p{
	margin-left:11%;
	margin-top:1%;
	position: absolute;
	font-size: 45px;
	color: #FFFFFF;
	}
#logo{
	position: absolute;
	padding-top:0.5%;
	padding-left:0.5%;
	float:left;
	width: 150px;
	height: 150px;
	}
#Lang{
	margin: 30px -480px;
	}
.currency {
	float:right;
	font-size:14px;
	width: 50px;
	height: 30px;
	padding: 0px;
	margin: 30px 370px;
	margin-right: 5%;
	box-sizing: 20px;
	border-radius:4px;
	background-color:#f1f1f1
	}
.p{
	color: white;
	font-size: 50px;
	margin-top: 10px;
	padding-bottom: 30px;
	}
.join{
	border-style: none;
	float: right;
	margin-right: 1%;
	margin-top: 1%;
	font-size: 25px;
	font-weight: bold;
   	color: white;
   	width: 160px;
	border-radius:5px;
	background-color:#F59A23;
	height: 50px;
	}
.booking{
	font-size: 20px;
	border: none;
	padding: 5px;
	background-color: #F59A23;
	color: white;
	width: 150px;
	height: 50px;
	border-radius: 5px;
	}
video{
	object-position: center;
	object-fit: cover;
	width: 100%;
	height: 400px;
}
.formm{
    position:absolute;
}
.f{
	border: 2px solid #F59A23;
	width: 200px;
	height: 50px;
	padding: 2px;
	margin: 5px;
	border-radius: 5px;
}
.ff{
	border: 2px solid #F59A23;
	width: 350px;
	height: 50px;
	padding: 2px;
	margin: 10px;
	border-radius: 5px;
}
.overlayy {
	position: absolute;
	width: 100%;
	height: 80%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
	cursor: pointer;
}
.featureCard{
	font-size: 25px;
    text-align: center;
    background-color:none;
    border-radius: 5px;
    color: white;
    height: 400px;
}
.featureCard p{
	font-size: 20px; 
    padding-top: 5%;
}
.featurecard p {
    line-height: 2;
    letter-spacing: 1px;
}
.featurecard a {
    display: inline;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    color:#F59A23; 
}
.card {

    background-color:white;
    box-shadow: 3px 10px 7px #888888;
    padding: 24px;  
}
.card p {
    line-height: 2;
    letter-spacing: 1px;
}
.card a {
    display: inline;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    color:#F59A23; 
}
#linkTour a:link, #linkTour a:visited {
	float:right;
    color: black;
    text-decoration: none;
    background-color:#F59A23;
    border-radius: 14px; 
    padding: 15px;
    font-size: 15px;
}
#linkTour a:hover, #linkTour a:active {
    background-color: #27476E;
}
#titleAD {
	font-size: 40px;
    position: absolute;
    top: 60px;
    left: 30px;
    background: rgba(0, 0, 0, 0.5);
    padding: 4px 8px;
    color: white;
}
#aboutAD{
	font-size: 31px;
    position: absolute;
    top: 130px;
    left: 50px;
    background: rgba(255, 255, 255, 0.5);
    color: black;
    padding: 4px 8px;
}
.imageAD {
    padding: 0px;   
    height: 350px;
    background: url('images/cable car.jpg');
    background-size: cover;
    position: relative;
}
/*recommended*/
#recommended{
	margin-top: 10%;  
	}
#carousel-inner img {
	width: 900px;
	height: 400px;    
  }
  #carousel-control-next{
  left:820px;
  }
  #carousel-control-prev{
  left:20px;
  }
  #carousel-control-next , #carousel-control-prev{ 
	display: flexbox;
	width: 2%;
	text-align: center;
	opacity: .5;
  }
  #carousel-indicators{
   content-align:center;
  }
  .row{
  margin-right:-10px;
  display: flexbox;
  flex-wrap: wrap;
  margin-left: 300px;
  margin-top:-400px;
  }




.cl2{
  background-color: #001D4A;
  background-size: 100%;
  padding-top: 1px;
  height: Auto;
}
footer{
  letter-spacing: 1px;
  display: flex;
  background-color: #001D4A;
  height: 35%;
  color: white;
  padding-left: 3%;
  background-size: 100%;
}
footer h1{
  font-size: 50px;
}
#mail {
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  color:#F59A23;
}
#aboutUs{
  width: 400px;
}
.marginLeft {
  margin-left: 8%;
}
.formatText{
  font-size: 30px;
  font-weight: bold;
}
input[type=email] {
  margin-left: 10%;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.subscribeButton {
  background-color:#F59A23;
  border-radius: 5px;
  border: none; 
  color: white; 
  padding: 14px 20px; 
}  
.subscribeButton:hover {
  background-color: #001D4A;
}
.rrest{
  width: 350px;   
  height: 30px;
  font-size: 20px;
}
.bookrest{
  color: white;
  width: 100%;
  font-size: 25px;
  margin: 10px;
}
.time{
  width: 170px;
}
.bookbutt{
  width: 180px;
  height: 50px;
  background-color: #001D4A;
  border: solid black;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  margin-left: 110px;
}
.bookbutt:hover{
  width: 180px;
  height: 50px;
  background-color: white;
  border: solid black;
  border-radius: 10px;
  color: black;
  font-size: 20px;
  margin-left: 110px;
}
svg{
  width: 50px;
  height: 60px;
  align-self: right;
  margin-left: 70px;
}

.form-popup h1{
margin-left:90px;
margin-top:20px;
font-size:20px;
font-family: 'Arial Bold';
}

#space{
margin-left:50px;
}

.form-popup a{
font-size:14px;
margin-left:20px;
}

#remember{
margin-top:1px;
margin-left:1px;
}

label {
padding:7px;
}

/* The popup form - hidden by default */
.form-popup {

position: absolute;
margin-left:502px;
margin-top:-350px;
border: 2px  #f1f1f1;
width: 348px;
height: 463px;
z-index: 9;  
}

/* Add styles to the form container */
.form-container {
display: none;
border-radius:15px;
max-width:500px;
padding: 10px;
background-color:rgb(244,241,222);
height:400px;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
border-radius:6px;
width: 90%;
padding: 15px;
margin: 5px 0 22px 0;
border: none;
background: white;
}


/* Set a style for the submit/login button */
.form-container .btn {
border-radius:4px;
background-color: rgb(236, 164, 0);
color: white;
padding: 16px 20px;
border: none;
cursor: pointer;
width: 100%;
margin-bottom:10px;
opacity: 0.8;
font-size:18px;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
border-radius:4px;
background-color: red;
width:80px;
margin-left:120px;
font-size:14px;
}



.formSingup-popup h1{
margin-left:210px;
margin-top:7px;
font-size:30px;
font-family: 'Arial Bold';
}

#spaceSignUp{
margin-left:130px;
}

.formSingup-popup a{
font-size:15px;
margin-left:140px;
margin-right:0px;
}

#rememberSignUp{
margin-top:1px;
margin-left:1px;
}

/* The popup form - hidden by default */
.formSingup-popup {
display: none;  /*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!1*/
margin-left:380px;
margin-top:-349px;
border: 2px  #f1f1f1;
width: 342px;
height: 543px;

}

/* Add styles to the form container */
.formSignUp-container {
border-radius:15px;
max-width:500px;
padding: 10px;
background-color:rgb(244,241,222);
height:535px;
position: absolute;

}

.formSignUp-container input[type=text] {
border-radius:6px;
width: 170px;
padding: 15px;
margin: 5px 5px 22px 0;
border: none;
background: white;
margin-left:20px;
}



/* Full-width input fields */
.formSignUp-container input[type=email], .formSignUp-container input[type=password] {
border-radius:6px;
width: 90%;
padding: 15px;
margin: 5px 0 22px 0;
border: none;
background: white;
}

/* Set a style for the submit/login button */
.formSignUp-container .button {
border-radius:4px;
background-color: rgb(236, 164, 0);
color: white;
padding: 16px 20px;
border: none;
cursor: pointer;
width: 100%;
margin-bottom:10px;
opacity: 0.8;
font-size:18px;
}

/* Add a red background color to the cancel button */
.formSignUp-container .cancel {
border-radius:4px;
background-color: red;
width:80px;
margin-left:210px;
font-size:14px;
}

/* Add some hover effects to buttons */
.formSignUp-container .button:hover, .join1:hover {
opacity: 1;
}

 input[type=radio]{
margin-left:20px;
}

#type{
padding-left:15px;
}	
