<html>
<head>
	<head>
		<title>Booking appointment</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
		<link rel="stylesheet" type="text/css" href="booking.css">
	  </head>


<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
		  <div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
			  <span class="icon-bar"></span>
			  <span class="icon-bar"></span>
			  <span class="icon-bar"></span>                        
			</button>
		   <a href="#" class=" navbar-brand JIJname" style="color: ivory;">Journey Into Jericho</a>
		  </div>
		  <div class="collapse navbar-collapse" id="myNavbar">
			<ul class="nav navbar-nav">
			  <li><a href="#">Book Now</a></li>       
			  <li><a href="#">Tourist Attractions </a></li>  
			  <li><a href="#">Trips</a></li>
			  <li><a href="#">Places</a></li>
			  <li><a href="#">Community</a></li>		
			</ul>
			<ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
             <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                       <i class="pe-7s-user "> </i>
                       <p class="glyphicon glyphicon-user"></p>
             </a>
             <ul class="dropdown-menu">
               <li><a href="#"> <span class="glyphicon glyphicon-bookmark"> </span> Saved</a></li>
               <li><a href="#"> <span class="glyphicon glyphicon-tags"> </span> History</a></li>
               <li><a href="#"> <span class="glyphicon glyphicon-pencil"> </span> Edit Profile</a></li>
               <li class="divider"></li>
               <li><a href="#"> <span class="glyphicon glyphicon-log-out"> </span> Log Out</a></li>
             </ul>
           </li>
     </ul>
		  </div>
		</div>
	</nav> <br> <br> <br> <br>
		<div class="container-fluid text-center ">    
			<div class="row content">
				<div class="col-sm-2 sidenav "></div> 
				<div class="col-sm-8  Section"> 
					<h2 style="text-align: center;"> Booking Appointment</h2>
					<br> <br>
					<form>
						<label id="BookNowName"> Name : </label> 
						<input type="text" placeholder="Name" value="Ahmad"> </input>
						<label id="BookNowGuest"> Adults :</label>
						<select id="Guests" name="Guests">
							<option value="Rooms">2 Rooms</option>
							<option value="Adults">2 Adults</option>
						</select>
						<label id="BookNowGuest"> Children :</label>
						<select id="Guests" name="Guests">
							<option value="Rooms">1 Room</option>
							<option value="Children">2 Children</option>
						</select>
					</form>
				</form>
				<div class="elegant-calencar">
				<p id="reset">reset</p>
				<div id="CalendarHeader" class="clearfix">
				<div class="pre-button"><</div>
				<div class="head-info">
				<div class="head-day"></div>
				<div class="head-month"></div>
				</div>
				<div class="next-button">></div>
				</div>
				<table id="calendar">
				<thead>
				<tr>
				<th>Sun</th>
				<th>Mon</th>
				<th>Tue</th>
				<th>Wed</th>
				<th>Thu</th>
				<th>Fri</th>
				<th>Sat</th>
				</tr>
				</thead>
				<tbody>
				<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				</tr>
				<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				</tr>
				<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				</tr>
				<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				</tr>
				<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				</tr>
				<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				</tr>
				</tbody>
				</table>
				</div>
				<form>
					<p id="BookNowSelect"><h2> Select your favorite way to book : </h2> </p>
					<input type="radio" >
					<label id="VisaCard">VisaCard</label>
					<input type="radio" > 
					<label id="PayPal">PayPal</label>
					<input type="radio" >
					<label id="JawwalPay">JawwalPay</label> 
					<input type="radio"> 
					<label id="Cash">Cash</label>
				</form>
				<button id="BookNowSubmit">Submit</button>
				<script>
					document.addEventListener('DOMContentLoaded', function(){
					var today = new Date(),
					 year = today.getFullYear(),
					 month = today.getMonth(),
					 monthTag =["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"],
					 day = today.getDate(),
					 days = document.getElementsByTagName('td'),
					 selectedDay,
					 setDate,
					 daysLen = days.length;
					// options should like '2014-01-01'
					function Calendar(selector, options) {
					 this.options = options;
					 this.draw();
					}
					Calendar.prototype.draw  = function() {
					 this.getCookie('selected_day');
					 this.getOptions();
					 this.drawDays();
					 var that = this,
					 reset = document.getElementById('reset'),
					 pre = document.getElementsByClassName('pre-button'),
					 next = document.getElementsByClassName('next-button');
					 pre[0].addEventListener('click', function(){that.preMonth(); });
					 next[0].addEventListener('click', function(){that.nextMonth(); });
					 reset.addEventListener('click', function(){that.reset(); });
					 while(daysLen--) {
					 days[daysLen].addEventListener('click', function(){that.clickDay(this); });
					 }
					};
					Calendar.prototype.drawHeader = function(e) {
					 var headDay = document.getElementsByClassName('head-day'),
					 headMonth = document.getElementsByClassName('head-month');
					 e?headDay[0].innerHTML = e : headDay[0].innerHTML = day;
					 headMonth[0].innerHTML = monthTag[month] +" - " + year;        
					 };
					Calendar.prototype.drawDays = function() {
					 var startDay = new Date(year, month, 1).getDay(),
					//      下面表示这个月总共有几天
					 nDays = new Date(year, month + 1, 0).getDate(),
					 n = startDay;
					//      清除原来的样式和日期
					 for(var k = 0; k <42; k++) {
					 days[k].innerHTML = '';
					 days[k].id = '';
					 days[k].className = '';
					 }
					 for(var i  = 1; i <= nDays ; i++) {
					 days[n].innerHTML = i; 
					 n++;
					 }
					 for(var j = 0; j < 42; j++) {
					 if(days[j].innerHTML === ""){
					 days[j].id = "disabled";
					 }else if(j === day + startDay - 1){
					 if((this.options && (month === setDate.getMonth()) && (year === setDate.getFullYear())) || (!this.options && (month === today.getMonth())&&(year===today.getFullYear()))){
					 this.drawHeader(day);
					 days[j].id = "today";
					 }
					 }
					 if(selectedDay){
					 if((j === selectedDay.getDate() + startDay - 1)&&(month === selectedDay.getMonth())&&(year === selectedDay.getFullYear())){
					 days[j].className = "selected";
					 this.drawHeader(selectedDay.getDate());
					 }
					 }
					 }
					};
					Calendar.prototype.clickDay = function(o) {
					 var selected = document.getElementsByClassName("selected"),
					 len = selected.length;
					 if(len !== 0){
					 selected[0].className = "";
					 }
					 o.className = "selected";
					 selectedDay = new Date(year, month, o.innerHTML);
					 this.drawHeader(o.innerHTML);
					 this.setCookie('selected_day', 1);
					};
					Calendar.prototype.preMonth = function() {
					 if(month < 1){ 
					 month = 11;
					 year = year - 1; 
					 }else{
					 month = month - 1;
					 }
					 this.drawHeader(1);
					 this.drawDays();
					};
					Calendar.prototype.nextMonth = function() {
					 if(month >= 11){
					 month = 0;
					 year =  year + 1; 
					 }else{
					 month = month + 1;
					 }
					 this.drawHeader(1);
					 this.drawDays();
					};
					Calendar.prototype.getOptions = function() {
					 if(this.options){
					 var sets = this.options.split('-');
					 setDate = new Date(sets[0], sets[1]-1, sets[2]);
					 day = setDate.getDate();
					 year = setDate.getFullYear();
					 month = setDate.getMonth();
					 }
					};
					 Calendar.prototype.reset = function() {
					  month = today.getMonth();
					  year = today.getFullYear();
					  day = today.getDate();
					  this.options = undefined;
					  this.drawDays();
					 };
					Calendar.prototype.setCookie = function(name, expiredays){
					 if(expiredays) {
					 var date = new Date();
					 date.setTime(date.getTime() + (expiredays*24*60*60*1000));
					 var expires = "; expires=" +date.toGMTString();
					 }else{
					 var expires = "";
					 }
					 document.cookie = name + "=" + selectedDay + expires + "; path=/";
					};
					Calendar.prototype.getCookie = function(name) {
					 if(document.cookie.length){
					 var arrCookie  = document.cookie.split(';'),
					 nameEQ = name + "=";
					 for(var i = 0, cLen = arrCookie.length; i < cLen; i++) {
					 var c = arrCookie[i];
					 while (c.charAt(0)==' ') {
					 c = c.substring(1,c.length);
					 }
					 if (c.indexOf(nameEQ) === 0) {
					 selectedDay =  new Date(c.substring(nameEQ.length, c.length));
					 }
					 }
					 }
					};
					var calendar = new Calendar();
					}, false);
					</script>
			</div>
			
				<div class="col-sm-2 sidenav"> </div>
			</div>
		</div>		
		<button onclick="topFunction()" id="topbtn" title="Go to top">
			<span class=" glyphicon glyphicon-chevron-up"> </span>
		 </button>
		<script> 
			//Get the button:
			mybutton = document.getElementById("topbtn"); 
			// When the user scrolls down 20px from the top of the document, show the button
			window.onscroll = function() {scrollFunction()};
			function scrollFunction() {
			if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
			mybutton.style.display = "block";
			} else {
			mybutton.style.display = "none";
			}
			}
			// When the user clicks on the button, scroll to the top of the document
			function topFunction() {
			document.body.scrollTop = 0; // For Safari
			document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
			}
			</script> <br> 
	<footer class="container-fluid text-center d-flex cl2">	
			<div id="aboutUs" class="col-4">
				<h1>JIJ</h1>
				<p>“Journey into Jericho” is a booking website in Jericho city, it has three locations for the tourist: hotels, hostel and the chalet, We lead tourist to tourist attractions, and help the tourists with several services they need.</p>
			</div>
			<div class=" col-4" style="margin-top: 2%; margin-left:8%;">
				<p class="formatText">Subscribe to see what's new</p>
				<form > 
					<input type="email" id="email" name="email" placeholder=" Your email ">
					<button class="subscribeButton"> Subscribe </button>
				</form>
			</div>
			<div class="col-4" style="margin-top: 1%; margin-left:8%;">
				<h2 class="formatText">Contact us</h2>
				<a id="mail"href="STPT.comp@gmail.com">STPT.comp@gmail.com</a><br>
				999-9999-999 <br>
				<address>Palestine - Nablus</address>
			</div>
	</footer>
</body>
</html>