.breakhorizontally{
    height: 100px;
}
#imagesection1{
    z-index:1000;
    position: absolute;
    padding-top:7px;
    padding-left:7px;
    float:left;
    width: 150px;
    height: 125px;
}

.nav{
    width: 180px;
    height: 50px;
    background-color: #f59a23;
    border: solid black;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    margin: 8px;
}
.nav:hover{
    width: 180px;
    height: 50px;
    background-color: white;
    border: solid #f59a23;
    border-radius: 10px;
    color: black;
    font-size: 20px;
    margin: 8px;
}

.header{
    overflow: hidden;
    background-color:rgba(0, 29, 74, 1) ;
    width: 100%;
    height:81px;
    background-position:top;
    margin-top:0px;
}

.header p{
    margin-left:170px;
    margin-top:20px;
    border-width: 0px;
    position: absolute;
    font-family: Merriweather;
    font-size: 45px;
    color: #FFFFFF;
}

.navigation{
    margin-top:25px;
    margin-left:390px;
}

#tourist_nav{
    font-size:22px;
    border-radius:20px;
    background-color:rgb(236, 164, 0);
    color:white;
    text-decoration: none;
    margin-right:16px;
    border-width:0px;
    height:40px;
    padding-left:10px;
}
#places , #trip , #service{
    font-size:22px;
    border-radius:20px;
    background-color:white;
    color:black;
    text-decoration: none;
    margin-right:20px;
    border-width:1px;
    text-align: center;
    width:140px;
    height:40px;
}

video{
    width: 720px;
    height: 370px;
    border-width: 2px;
    border: solid black;
}

#ojaPic{
    width: 249px;
    height: 205px;
    border-width: 2px;
    border: solid black;
}
#ojaPic2{
    width: 249px;
    height: 196px;
    border-width: 2px;
    border: solid black;
}
#ojaPic3{
    width: 249px;
    height: 196px;
    border-width: 2px;
    border: solid black;
}
#ojaPic4{
    width: 249px;
    height: 200px;
    border-width: 2px;
    border: solid black;
}

#Tourist_attractions{
    margin-left:300px;
    font-size:24px;
    font-family: 'Arial Bold', 'Arial', sans-serif;
    font-weight: 700;
    font-style: normal;
}

#line{
    margin-left:150px;
}

#addIcon{
    width: 39px;
    height: 40px;
    margin-left:55px;
}

#MonasteryPic{
    width: 178px;
    height: 136px;
    margin-top:50px;
    margin-left:40px;
    border-radius:7px;
}
#Monastery{
    margin-left:350px;
    margin-top:-130px;
    font-size:22px;

}
#locIcon{
    width: 23px;
    height: 26px;
    margin-left:350px;
    margin-top:-150px;
}
#captionMonstery{
    margin-left:380px;
    margin-top:-30px;
}
#pinIcon{
    width:30px;
    height:35px;
    margin-left:680px;
    margin-top:-30px;
}

#sultanPic{
    width: 178px;
    height: 136px;
    margin-top:100px;
    margin-left:40px;
    border-radius:7px;
}
#discrebtion{
    width: 444px;
    height: 163px;
    box-sizing: border-box;
    border-width: 6px;
    border-style: solid;
    border-color: rgba(245, 154, 35, 1);
    margin-left:350px;
    margin-top:50px;
    padding-top:12px;
    padding-left:4px;
}
#hisham{
    width: 178px;
    height: 136px;
    margin-top:50px;
    margin-left:40px;
    border-radius:7px;
}
#auja{
    width: 178px;
    height: 136px;
    margin-top:70px;
    margin-left:40px;
    border-radius:7px;
}
#overf{
    background-color:rgba(0, 105, 130, 1);
    width: 841px;
    height: 800px;
    border-radius: 30px;
    overflow: auto;
    color:white;
    background-color:rgba(0, 29, 74, 1) ;
}
#NearToLabel{
    font-size:18px;
}
#checkInLable{
    font-size:18px;
}
#checkOutLable{
    font-size:18px;
    margin-left:140px;
}
#AdultsNumb, #childrenNumb , #roomNumb{
    width: 48px;
    height: 22px;
}
.near{
    border-radius:5px;
    background-color: rgba(245, 154, 35, 1);	
    width: 451px;
    height: 500px;
}

input[type=text]{
    width:410px;
    height:40px;
    border-radius:7px;
}
input[type=text]{
    width:410px;
    height:40px;
    border-radius:7px;
}
input[type=date]{
    width:200px;
    height:40px;
    border-radius:7px;
}
select{
    margin-right:15px;
}
#nu{
    margin-left:19px;
}
.near h1{
    padding-top:12px;
}
#bookNow{
    font-size:16px;
    margin-left:150px;
    margin-top:50px;
    color:white;
    background-color:rgba(0, 29, 74, 1) ;
    width:150px;
    height:50px;
    border-radius:7px;
    box-shadow: none;
    position: absolute;
}

body{
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}
.b{
    font-size: 55px;
}
#image1{
    float: right;
    width: 400px;
    height: 200px;
    border-radius: 5px;
    margin: 10px;
}
 #image2{
    float: left;
    width: 400px;
    height: 200px;
    border-radius: 5px;
    margin: 10px;
}
#tt{
    width: 150px;
    height: 200px;
    margin: 10px;
    border-radius: 5px;
}
#flx{
    display: flex;
    margin-left: 13%;
}
.mid{
    text-align: center;
}

.TG{
    width: 300px;
    height: 200px;
    margin: 10px;
    border: solid black;
    border-radius: 5px;
    border-width: 1px;
}
.para{
    font-size: 20px;
}
.cl1{
    background-color: #001D4A;
    background-size: 100%;
    padding-top: 1px;
}
footer{
    letter-spacing: 1px;
    display: flex;
    background-color: #001D4A;
    height: 35%;
    color: white;
    padding-left: 3%;
    background-size: 100%;
}
footer h1{
    font-size: 50px;
}
#mail {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color:#F59A23;
}
#aboutUs{
    width: 400px;
}
.marginLeft {
    margin-left: 8%;
}
.formatText{
    font-size: 30px;
    font-weight: bold;
}
input[type=email] {
    margin-left: 10%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.subscribeButton {
    background-color:#F59A23;
    border-radius: 5px;
    border: none; 
    color: white; 
    padding: 14px 20px; 
}  
.subscribeButton:hover {
    background-color: #001D4A;
}
.containerr {
    margin: 10px;
    position: relative;
    width: 300px;
    height: 200px;
    border: solid black;
    border-width: 2px;
    border-radius: 5px;
}
.image {
    width: 300px;
    height: 200px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0px;
    height: 200px;
    width: 300px;
    opacity: 0;
    transition: .5s ease;
    background-color: #001D4A;
}
.containerr:hover .overlay {
    opacity: 1;
    border: solid black;
    border-width: 2px;
    border-radius: 5px;
}
.textt {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
.textt button{
    background-color: #F59A23;
}



/* New cards*/

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
#team {
    background: #eee !important;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #001D4A;
    border-color: #001D4A;
    box-shadow: none;
    outline: none;
}

.btn-primary {
    color: #fff;
    background-color: #001D4A;
    border-color: #001D4A;
}

section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #001D4A;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#team .card {
    border: none;
    background: #ffffff;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
    min-height: 312px;
}

.backside .card a {
    font-size: 18px;
    color: #001D4A !important;
}

.frontside .card .card-title,
.backside .card .card-title {
    color: #001D4A !important;
}

.frontside .card .card-body img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.TGbook{
    background-color: #F59A23;
    width: 100px;
    height: 40px;
    border-radius: 4px;
}
.TGbook:hover{
    background-color: #001D4A;
    width: 100px;
    height: 40px;
    border-radius: 4px;
    color: white;
}




@media (min-width: 768px) {
    .carousel-multi-item-2 .col-md-3 {
    float: left;
    width: 25%;
    max-width: 100%; } }
    
    .carousel-multi-item-2 .card img {
    border-radius: 2px; }

    /* Popup box BEGIN */
.hover_bkgr_fricc{
    background:rgba(0,0,0,.4);
    cursor:pointer;
    display:none;
    height:100%;
    position:fixed;
    text-align:center;
    top:0;
    width:100%;
    z-index:10000;
}
.hover_bkgr_fricc .helper{
    display:inline-block;
    height:100%;
    vertical-align:middle;
}
.hover_bkgr_fricc > div {
    background-color: #fff;
    box-shadow: 10px 10px 60px #555;
    display: inline-block;
    height: auto;
    max-width: 551px;
    min-height: 100px;
    vertical-align: middle;
    width: 60%;
    position: relative;
    border-radius: 8px;
    padding: 15px 5%;
}
.popupCloseButton {
    background-color: #fff;
    border: 3px solid #999;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 25px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
}
.popupCloseButton:hover {
    background-color: #ccc;
}
.trigger_popup_fricc {
    cursor: pointer;
    font-size: 20px;
    margin: 20px;
    display: inline-block;
    font-weight: bold;
}
/* Popup box BEGIN */